name: Events Demo 1

on:
  pull_request:
    types: [opened, edited]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Output event data
        run: echo "${{toJSON(github.event)}}"
      - name: Get code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Install dependencies
        run: npm ci
      - name: Lint and Test
        run: |
          npm run lint
          npm run test
      - name: Build code
        run: npm run build
      - name: Deploy project
        run: echo "Deploying..."
